<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new chat</title>
  </head>
  <body>
    <h3>New</h3>
    <form method="post" action="/chats">
      <input type="text" name="from" placeholder="From" /><br><br>
      <input type="text" name="to" placeholder="To" /><br><br>
      <textarea name="msg" placeholder="Enter msg" rows="5" cols="20"></textarea><br><br>
      <button>Submit</button>
    </form>
  </body>
</html>
